.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.tile-box {
  display: flex;
  flex-direction: column;
  background-color: #cfe8fc;
  width: 100%;
  margin: 20px;
  padding: 20px;
  border: 1px black solid;
  border-radius: 7px;
  box-shadow: 2px 2px 2px;
}

.top-row {
  padding-left: 0px !important;
  white-space: pre;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-reviews {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

.title{
  margin: 0px;
  margin-right: 20px;
}

.description{
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}